

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    

/*.card {
    margin-top: 50px;
    border-radius: 2px !ipmportant;

}

.mnUnitTb {
    background: #fff;
    padding-top: 14px;
    margin-bottom: 2px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 3px 2px rgba(123, 123, 123, 0.15);
    border-bottom: 1px solid #f0f0f0;
}

.lft .mnUnitTb {
   
    vertical-align: middle;
    width: 400px;
}

span:before, i:before, a:before {
    font-size: 25px;
    display: block;
    font-family: 'mbk_web_font';
    font-style: normal;
    color: #3E4551;
}

 .lft .mnUnitTb font a {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;
    margin-right: -5px;
    font-size: 12px;
    box-sizing: border-box;
    color: #3E4551;
}

.mnUnitTb font a {
    width: 100px;
    text-align: center;
    transition: .5s;
}

.icomobile.ion-iphone:before, img {
   
    display: block;
    font-size: 40px;
}

.icomobile img {
    padding: 2px;
    margin-left: 30px;
}*/

/*.icons_all {
    display: inline-flex;
}

.icons_all a{
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;
    margin-right: -5px;
    font-size: 12px;
    box-sizing: border-box;
    color: #3E4551;
    width: 100px;
    text-align: center;
    transition: .5s;
}

.catTxt:before {
    display: block;
    font-size: 30px
}*/

#hotelform {
    margin-top: 20px;
}

#hotelform .content {
        padding: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}
