<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body lft">
                    <section class="mnUnitTb list-inline">
                        <font>
                            <a ui-sref="home.mobile" tabindex="1" ui-sref-active="active" id="qa-mbkmobile" class="showArrow" href="/mobile">
                        <span class="ion-iphone icomobile">Mobile</span>
        </a>
                            <a ui-sref="home.dth" tabindex="1" ui-sref-active="active"id="qa-mbkdth" href="/dth" class="showArrow">
        <span class="ion-iphone icomobile">DTH</span>
        </a>
        <a ui-sref="home.mobile" tabindex="1" ui-sref-active="active" id="qa-mbkmobile" class="showArrow" href="/mobile">
        <span class="ion-iphone icomobile">Mobile</span>
        </a>
                            <a ui-sref="home.dth" tabindex="1" ui-sref-active="active" id="qa-mbkdth" href="/dth" class="showArrow">
            <span class="icomobile"><img ng-src="https://cdn3.iconfinder.com/data/icons/trico-text-symbols/24/Ellipsis-Vertical-512.png" width="40" height="40">  DTH</span>
        </a>
                            
                            
                        </font>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>