<div id="header1-wrap">
    <nav class="navbar navbar-dark indigo" style="padding: 2px;margin-left: -30px">
        <div class="menus">
            <ul>
                <li><a href="https://www.happypesa.com/why-choose-us">Why Choose Us</a></li>
                <li><a href="https://www.happypesa.com/franchisee-registration">Become a Franchisee</a></li>
                <li><a href="https://www.happypesa.com/franchiseelist"> Franchisee List </a></li>
                <li><a href="https://www.happypesa.com/happygallery">Gallery</a></li>
                <li><a href="https://www.happypesa.com/contact-us">Contact Us </a></li>
                <li><a href="https://www.happypesa.com/app.php"> Download App </a></li>
                <li><a href="https://www.happypesa.com/merchant"> Merchant Apply </a></li>
                <li><a href="#"> Merchant List </a></li>
            </ul>
        </div>
        <div class="contact">
            <a href="#">Customer Care No. 011-48884111 <span>/</span>  011-49994111 <span> / </span> 011-48884999  </a>
        </div>
    </nav>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="row">
                <div col-md-3 col-sm-3>
                    <a href="https://www.happypesa.com/"><img class="logo_h" alt="Happypesa.com" ng-src="img/logo.png"></a>
                </div>
                <div class="head2">
                    <ul id="horizontal-list">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT US</a>
                            <ul class="dropdown-menu mega-dropdown-menu" id="ab">
                                <div class="col-md-3"><a href="https://www.happypesa.com/company-profile"><img src="/img/profile.png" alt="download" class="isize"><p class="meta-text">Company Profile</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/mission-and-vision"><img src="/img/missionandvision.png" alt="download" class="isize"><p class="meta-text">Mission &amp; Vision</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/our-team"><img src="/img/ourteam.png" alt="download" class="isize"><p class="meta-text" class="isize">Happy Team</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/legalities"><img src="/img/legals.png" alt="download" class="isize"><p class="meta-text">Our Legalities</p></a></div>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AFFILIATE MARKETING</a>
                            <ul class="dropdown-menu mega-dropdown-menu" id="ab">
                                <div class="col-md-3"><a href="https://www.happypesa.com/company-profile"><img src="/img/profile.png" alt="download" class="isize"><p class="meta-text">Company Profile</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/mission-and-vision"><img src="/img/missionandvision.png" alt="download" class="isize"><p class="meta-text">Mission &amp; Vision</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/our-team"><img src="/img/ourteam.png" alt="download" class="isize"><p class="meta-text" class="isize">Happy Team</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/legalities"><img src="/img/legals.png" alt="download" class="isize"><p class="meta-text">Our Legalities</p></a></div>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">OUR PARTNERS</a>
                            <ul class="dropdown-menu mega-dropdown-menu" id="ab">
                                <div class="col-md-3"><a href="https://www.happypesa.com/company-profile"><img src="/img/profile.png" alt="download" class="isize"><p class="meta-text">Company Profile</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/mission-and-vision"><img src="/img/missionandvision.png" alt="download" class="isize"><p class="meta-text">Mission &amp; Vision</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/our-team"><img src="/img/ourteam.png" alt="download" class="isize"><p class="meta-text" class="isize">Happy Team</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/legalities"><img src="/img/legals.png" alt="download" class="isize"><p class="meta-text">Our Legalities</p></a></div>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DIGITAL DEAL</a>
                            <ul class="dropdown-menu mega-dropdown-menu" id="ab">
                                <div class="col-md-3"><a href="https://www.happypesa.com/company-profile"><img src="/img/profile.png" alt="download" class="isize"><p class="meta-text">Company Profile</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/mission-and-vision"><img src="/img/missionandvision.png" alt="download" class="isize"><p class="meta-text">Mission &amp; Vision</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/our-team"><img src="/img/ourteam.png" alt="download" class="isize"><p class="meta-text" class="isize">Happy Team</p></a></div>
                                <div class="col-md-3"><a href="https://www.happypesa.com/legalities"><img src="/img/legals.png" alt="download" class="isize"><p class="meta-text">Our Legalities</p></a></div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div id="wrap">
                <form action="" autocomplete="on">
                    <input id="search" name="search" type="text" placeholder="What're we looking for ?">
                    <input id="search_submit" value="Rechercher" type="submit">
                </form>
            </div> -->
            <div id="shop">
                <ul class="nav navbar-nav nav-flex-icons ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link waves-effect waves-light" href="#" data-toggle="modal" data-target="#cart-modal-ex"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="clearfix d-none d-sm-inline-block">Cart</span></a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" id="navbar-static-login" class="nav-link waves-effect waves-light"><i class="fa fa-sign-in mr-1"></i><span class="clearfix d-none d-sm-inline-block">Log In/Signup</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="header2" class="_pwrap">
    <nav class="navbar navbar-expand-lg navbar-dark indigo double-nav">
        <div class="container-fluid">
            <div class="row">
                <ul class="mr-auto" id="header_3">
                    <li>
                        <div class="col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/Mobile_icon.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Mobile </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/Data-Card_icon.png" alt="mobile-recharge"></div>
                                <p class="_pl"> DataCard </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/DTH_icon.png" alt="mobile-recharge"></div>
                                <p class="_pl"> DTH </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/Electricity_icon.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Electricity </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/flight_icon.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Flight </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/Landline_icon.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Landline </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/discounts_icon.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Deals & Offers </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/HOTEL.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Hotel </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/Gsa_icon.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Gas Pay</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/mart.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Happy Mart </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/money.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Money Transfer </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/care.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Happy Care </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/tech.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Happy IT </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" col-md-12 nohinh-hap">
                            <a title="mobile Recharge" href="https://www.happypesa.com/mobile" class="add-money">
                                <div class="icon_bg"><img src="/img/Re-purches.png" alt="mobile-recharge"></div>
                                <p class="_pl"> Re-purchase </p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                <li data-target="#myCarousel" data-slide-to="4" class=""></li>
                <li data-target="#myCarousel" data-slide-to="5" class=""></li>
            </ol>
           
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="https://www.happypesa.com/image/50753185_Diwali_Offer.gif" alt="digital-coin-slider-">
                </div>
                <div class="carousel-item">
                    <img src="https://www.happypesa.com/image/1632152259_shopping with happypesa.jpg" alt="digital-coin-slider-">
                </div>
                <div class="carousel-item">
                    <img src="https://www.happypesa.com/image/1579779106_shopping.jpg" alt="digital-coin-slider-">
                </div>
                <div class="carousel-item">
                    <img src="https://www.happypesa.com/image/541497328_combo-cloth-slider.jpg" alt="digital-coin-slider-">
                </div>
                <div class="carousel-item">
                    <img src="https://www.happypesa.com/image/1351145035_herbal2.jpg" alt="digital-coin-slider-">
                </div>
                <div class="carousel-item">
                    <img src="https://www.happypesa.com/image/2066761444_affiliate.jpg" alt="digital-coin-slider-">
                </div>
                <div class="carousel-item">
                    <img src="https://www.happypesa.com/image/798520344_money-transfer-slider-2.jpg" alt="digital-coin-slider-">
                </div>
            </div>
        </div>
    </div>
</div>
